@page "/admin/roles"

@layout AdminLayout

@attribute [Authorize(Roles = "Admin")]

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@inject AuthenticationStateProvider _authStateProvider
@inject UserManager<IdentityUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager



<div class="row">
    <div class="col">
        <h3>Admin - Roles</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignment Count</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in roles.OrderBy(x => x.Name))
                {
                    <tr>
                        <td>@role.Name</td>
                        <td>@roleAssignmentCount[role.Name]</td>
                        <td>
                            <button type="button"
                                    class="btn btn-info btn-sm border-square"
                                    data-toggle="modal"
                                    data-target="#identityRoleModal"
                                    @onclick="@(() => SetEditRoleToExisting(role))">
                                Edit
                            </button>
                            <button type="button"
                                    class="btn btn-danger btn-sm border-square"
                                    data-toggle="modal"
                                    data-target="#confirmDeleteModal"
                                    @onclick="@(() => SetEditRoleToExisting(role))">
                                X
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button"
                class="btn btn-success btn-sm border-square"
                data-toggle="modal"
                data-target="#identityRoleModal"
                style="width: 32px;"
                title="Add Role"
                @onclick="@SetEditRoleToNew">
            <span class="oi oi-plus"></span>
        </button>
    </div>
</div>

<!-- Modals -->
<IdentityRoleDetailModal Role="@editRole" RoleName="@editRole.Name" ParentStateChanged="@GetRoles"></IdentityRoleDetailModal>
<ConfirmDeleteModal ModalTitle="Confirm Delete" ParentDeleteAction="@DeleteRoleAsync">
    <ModalBody>
        <p>Role: @editRole.Name</p>
        <br />
        <p>Deleting this Role will delete it and all associations with Users.</p>
        <p>Do you want to continue?</p>
    </ModalBody>
</ConfirmDeleteModal>

@code {
    private Dictionary<string, int> roleAssignmentCount = new();

    private List<IdentityRole> roles = new();

    private IdentityRole editRole = new();


    protected override async Task OnInitializedAsync()
    {
        GetRoles();
        await CountUsersAssignedToRoleAsync();
    }

    private async Task CountUsersAssignedToRoleAsync()
    {
        var users = _UserManager.Users.ToList();

        InitializeRoleAssignmentCountDictionary();

        foreach (var user in users)
        {
            var userRoles = await _UserManager.GetRolesAsync(user);

            CountRoles(userRoles);
        }
    }

    private void GetRoles()
    {
        editRole = new();

        roles = new(_RoleManager.Roles.ToList());
        StateHasChanged();
    }

    private void SetEditRoleToExisting(IdentityRole role)
    {
        editRole = role;
    }

    private void SetEditRoleToNew()
    {
        editRole = new();
    }

    private async void DeleteRoleAsync()
    {
        await _RoleManager.DeleteAsync(editRole);
        GetRoles();
    }

    private void InitializeRoleAssignmentCountDictionary()
    {
        foreach (var role in roles)
        {
            roleAssignmentCount.Add(role.Name, 0);
        }
    }

    private void CountRoles(IList<string> userRoles)
    {
        foreach (var role in userRoles)
        {
            if (roleAssignmentCount.ContainsKey(role))
            {
                roleAssignmentCount[role]++;
            }
        }
    }
}
