@page "/battery/{id:int}"

@inject AuthenticationStateProvider _authStateProvider
@inject IBatteryService _batteryService
@inject IBreadcrumbManager _breadcrumb
@inject IChargeService _chargeService
@inject IStatusService _statusService
@inject IJSRuntime _jsRuntime

<AuthorizeView>
    <Authorized>

        <h4><span class="oi oi-battery-full" aria-hidden="true"></span> @battery.Id | @battery.Name </h4>

        @if (charges == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div>
                <button data-toggle="modal" data-target="#chargeModal" class="btn btn-primary" value="Add Charge" @onclick="(() => InitializeChargeObject())">Add Charge</button>
            </div>


            @foreach (var status in statuses.OrderByDescending(x => x.Order))
            {
                <h4>@status.Name</h4>
                @foreach (var charge in charges.Where(x => x.StatusId == status.Id))
                {
                    <ChargeListItem Battery="@battery" Charge="@charge" SetChargeItem="@SetChargObject"></ChargeListItem>
                }
            }


            <ChargeDetailModal Charge="@chargeObject" ParentStateChanged="@StateChanged"></ChargeDetailModal>

            <ConfirmDeleteDialog Charge="@chargeObject" Delete="@DeleteCharge"></ConfirmDeleteDialog>
        }
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public int Id { get; set; }

    private Battery battery = new();
    private Charge chargeObject = new Charge();
    private List<Charge> charges = new();
    private List<Status> statuses = new();
    private string userId;

    protected override async Task OnInitializedAsync()
    {
        battery = await _batteryService.Get(Id);
        charges = await _chargeService.Get(battery);
        statuses = await _statusService.Get();

        var user = (await _authStateProvider.GetAuthenticationStateAsync()).User;
        userId = user.FindFirst(c => c.Type.Contains("nameidentifier"))?.Value;

        _breadcrumb.Hide();
    }

    private void InitializeChargeObject()
    {
        chargeObject = new Charge();
        chargeObject.BatteryId = battery.Id;
        chargeObject.OwnerId = userId;
        chargeObject.StatusId = 2;

    }

    private async void StateChanged()
    {
        charges = await _chargeService.Get();
        StateHasChanged();
    }

    private void SetChargObject(Charge charge)
    {
        chargeObject = charge;
    }

    private async Task DeleteCharge()
    {
        await _chargeService.Delete(chargeObject.Id);
        await _jsRuntime.InvokeAsync<object>("CloseModal", "confirmDeleteModal");
        StateChanged();
        InitializeChargeObject();
    }
}
