@inject IBatteryAdvancedOptionsValidator _validationService
@inject IStatusService _statusService
@inject IChargeService _chargeService

@inject IJSRuntime _jsRuntime

<div class="modal fade" tabindex="-1" role="dialog" id="batteryDetailExiting_StatusOptionsModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content border-square">
            <div class="modal-header">
                <h5 class="modal-title">Battery Detail - Status Options</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="@ResetEditStatuses">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @if (showErrors)
                {
                    <CustomFormErrors Errors="@errors" />
                }
                <div class="row px-5">
                    <div class="col">
                        <table class="table table-sm table-hover">
                            <thead>
                                <tr>
                                    <th>Order</th>
                                    <th>Name</th>
                                    <th>
                                        Actions
                                        <QuestionMarkToolTip Text="When deleting an existing Status, any charges set to that Status will be reset to the default Status."></QuestionMarkToolTip>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var status in Statuses.OrderBy(x => x.Order))
                                {
                                    <tr>
                                        <td>@status.Order</td>
                                        <td>
                                            <span class="btn btn-sm border-square dopdown-toggle small mx-1 py-0 px-1"
                                                  style="color: @status.FontColor; background-color: @status.BgColor">
                                                @status.Name
                                            </span>
                                        </td>
                                        <td>
                                            <button class="btn btn-info btn-sm border-square"
                                                    type="button"
                                                    data-toggle="modal"
                                                    data-target="#BatteryDetailAdvOptions_EditStatusModal"
                                                    @onclick="(() => SetEditStatus(status))">
                                                Edit
                                            </button>
                                            <button class="btn btn-danger btn-sm border-square" type="button" @onclick="@(() => RemoveStatus(status))">X</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="row px-2 mb-3">
                            <div class="col">
                                <button type="button"
                                        class="btn btn-info btn-sm border-square"
                                        style="width: 32px;"
                                        title="Reset"
                                        @onclick="@ResetEditStatuses">
                                    <span class="oi oi-action-undo"></span>
                                </button>
                                <button type="button"
                                        class="btn btn-success btn-sm border-square"
                                        data-toggle="modal"
                                        data-target="#BatteryDetailAdvOptions_EditStatusModal"
                                        style="width: 32px;"
                                        title="Add Category"
                                        @onclick="@SetEditStatusToNew">
                                    <span class="oi oi-plus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <button type="submit" class="btn btn-primary border-square" @onclick="@HandleSubmit">Submit</button>
                        <button type="button" class="btn btn-secondary border-square" data-dismiss="modal" @onclick="@ResetEditStatuses">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Status Modal-->
<BatteryDetailAdvOptions_EditStatusModal Status="@editStatus" ParentStateChanged="@StateChanged"></BatteryDetailAdvOptions_EditStatusModal>

@code {

    [Parameter]
    public Battery Battery { get; set; }

    [Parameter]
    public List<Status> Statuses { get; set; }

    [Parameter]
    public Action ParentStateChanged { get; set; }

    private Status editStatus = new();

    private Dictionary<string, List<string>> errors = new();

    private bool isNewStatus = false;
    private bool showErrors = false;

    private async void HandleSubmit()
    {
        showErrors = false;
        errors.Clear();
        errors = _validationService.Validate(Statuses);

        if (errors.Count() > 0)
        {
            showErrors = true;
        }
        else
        {

            foreach (var status in Statuses)
            {
                // Add new Category
                if (status.Id == 0)
                {
                    status.BatteryId = Battery.Id;
                    status.OwnerId = Battery.OwnerId;
                    await _statusService.Add(status);
                }
                // Update exsting Category
                else
                {
                    await _statusService.Update(status);
                }
            }

            // Delete any Categories in DB but not in Categories list
            var originalValueStatus = await _statusService.Get(Battery);
            var statusesToBeDeleted = originalValueStatus.Where(o => !Statuses.Any(s => s.Id == o.Id)).ToList();

            if (statusesToBeDeleted.Any())
            {
                await DeleteStatuses(statusesToBeDeleted);
            }

            await CloseModal();

            ParentStateChanged?.Invoke();
        }
    }

    public async Task CloseModal()
    {
        await _jsRuntime.InvokeAsync<object>("CloseModal", "batteryDetailExiting_StatusOptionsModal");
    }

    private async void ResetEditStatuses()
    {
        Statuses = await _statusService.Get(Battery);
        _validationService.ClearErrors();
        StateHasChanged();
    }

    private void SetEditStatus(Status status)
    {
        editStatus = status;
        isNewStatus = false;
    }

    private void SetEditStatusToNew()
    {
        editStatus = new Status();
        isNewStatus = true;
    }

    private void RemoveStatus(Status status)
    {
        Statuses.Remove(status);
    }

    private void StateChanged()
    {

        if (isNewStatus)
        {
            Statuses.Add(editStatus);
            isNewStatus = false;
        }

        StateHasChanged();
    }

    private async Task DeleteStatuses(List<Status> statuses)
    {
        var defaultStatus = Statuses.OrderBy(x => x.Order).FirstOrDefault();

        var charges = await _chargeService.Get(Battery);

        foreach (var status in statuses)
        {
            var chargesToBeChanged = charges.Where(x => x.StatusId == status.Id).ToList();

            await UpdateCharges(chargesToBeChanged, defaultStatus);

            await _statusService.Delete(status.Id);
        }
    }

    private async Task UpdateCharges(List<Charge> charges, Status status)
    {
        foreach (var charge in charges)
        {
            charge.StatusId = status.Id;
            await _chargeService.Update(charge);
        }
    }
}
