@inject IBatteryService _batteryService
@inject IBatteryAdvancedOptionsSaveService _batteryAdvOptions
@inject IBatteryAdvancedOptionsValidationService _batteryAdvOptionsValidation
@inject ICalculateTextareaRows _calcTextareaRows
@inject ICategoryService _categoryService
@inject IPriorityService _priorityService
@inject IStatusService _statusService
@inject IJSRuntime _jsRuntime

<div class="modal fade" tabindex="-1" role="dialog" id="batteryDetailModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content border-square">
            <div class="modal-header">
                <h5 class="modal-title">Battery Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="@ResetAllValuesToDefault">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@battery" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    @if (showErrors)
                    {
                        <CustomFormErrors Errors="@errors" />
                    }
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <InputText @bind-Value="@battery.Name" id="title" class="form-control" />
                                <ValidationMessage For="@(() => battery.Name)" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="desc">Description</label>
                                <InputTextArea @bind-Value="@battery.Description" @oninput="@(e => resizeTextarea(e))" rows="@textareaRows" id="desc" class="form-control">@battery.Description</InputTextArea>
                                <ValidationMessage For="@(() => battery.Description)" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="link-black" role="button" href="" @onclick="@ToggleAdvancedOptions" @onclick:preventDefault="true">
                                <p>
                                    @if (showAdvancedOptions)
                                    {
                                        <span class="oi oi-caret-bottom"></span>

                                    }
                                    else
                                    {
                                        <span class="oi oi-caret-right"></span>
                                    }
                                    Advanced Options
                                </p>
                            </a>
                        </div>
                    </div>
                    <!-- Advanced Options -->
                    <div class="row px-5">
                        <div class="col">
                            @if (showAdvancedOptions)
                            {
                                <div class="list-group">
                                    <!-- Category advanced options -->
                                    <BatteryModalAdvOptionsListItem IsActive="@showCategoryOptions" ParentStateChanged="@ToggleCategoryOptions">Categories</BatteryModalAdvOptionsListItem>
                                    @if (showCategoryOptions)
                                    {
                                        <table class="table table-sm table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Icon</th>
                                                    <th>Name</th>
                                                    <th>Default?</th>
                                                    <th>Child Category?</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var category in categories)
                                                {
                                                    <tr>
                                                        <td class="pl-2">
                                                            <IconCategory Category="@category"></IconCategory>
                                                        </td>
                                                        <td>@category.Name</td>
                                                        <td>@category.IsDefaultChargeCategory</td>
                                                        <td>@category.IsDefaultChildCategory</td>
                                                        <td>
                                                            <button class="btn btn-info btn-sm border-square"
                                                                    type="button"
                                                                    data-toggle="modal"
                                                                    data-target="#BatteryDetailAdvOptions_EditCategoryModal"
                                                                    @onclick="(() => SetEditCategory(category))">
                                                                Edit
                                                            </button>
                                                            <button class="btn btn-danger btn-sm border-square" type="button" @onclick="@(() => RemoveCategory(category))">X</button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div class="row px-2 mb-3">
                                            <div class="col">
                                                <button type="button"
                                                        class="btn btn-info btn-sm border-square"
                                                        style="width: 32px;"
                                                        title="Restore Defaults"
                                                        @onclick="@GetDefaultCategories">
                                                    <span class="oi oi-action-undo"></span>
                                                </button>
                                                <button type="button"
                                                        class="btn btn-success btn-sm border-square"
                                                        data-toggle="modal"
                                                        data-target="#BatteryDetailAdvOptions_EditCategoryModal"
                                                        style="width: 32px;"
                                                        title="Add Category"
                                                        @onclick="@SetEditCategoryToNew">
                                                    <span class="oi oi-plus"></span>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                    <!-- Priority advanced options -->
                                    <BatteryModalAdvOptionsListItem IsActive="@showPriorityOptions" ParentStateChanged="@TogglePriorityOptions">Priorities</BatteryModalAdvOptionsListItem>
                                    @if (showPriorityOptions)
                                    {
                                        <table class="table table-sm table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Display Name</th>
                                                    <th>Default?</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var priority in priorities.OrderBy(x => x.Severity))
                                                {
                                                    <tr>
                                                        <td>
                                                            <span class="btn btn-sm border-square dopdown-toggle small mx-1 py-0 px-1"
                                                                  style="color: @priority.FontColor; background-color: @priority.BgColor">
                                                                @priority.DisplayName
                                                            </span>
                                                        </td>
                                                        <td>@priority.IsDefault</td>
                                                        <td>
                                                            <button class="btn btn-info btn-sm border-square"
                                                                    type="button"
                                                                    data-toggle="modal"
                                                                    data-target="#BatteryDetailAdvOptions_EditPriorityModal"
                                                                    @onclick="(() => SetEditPriority(priority))">
                                                                Edit
                                                            </button>
                                                            <button class="btn btn-danger btn-sm border-square" type="button" @onclick="@(() => RemovePriority(priority))">X</button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div class="row px-2 mb-3">
                                            <div class="col">
                                                <button type="button"
                                                        class="btn btn-info btn-sm border-square"
                                                        style="width: 32px;"
                                                        title="Restore Defaults"
                                                        @onclick="@GetDefaultPriorities">
                                                    <span class="oi oi-action-undo"></span>
                                                </button>
                                                <button type="button"
                                                        class="btn btn-success btn-sm border-square"
                                                        data-toggle="modal"
                                                        data-target="#BatteryDetailAdvOptions_EditPriorityModal"
                                                        style="width: 32px;"
                                                        title="Add Priority"
                                                        @onclick="@SetEditPriorityToNew">
                                                    <span class="oi oi-plus"></span>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                    <!-- Status advanced options -->
                                    <BatteryModalAdvOptionsListItem IsActive="@showStatusOptions" ParentStateChanged="@ToggleStatusOptions">Statuses</BatteryModalAdvOptionsListItem>
                                    @if (showStatusOptions)
                                    {
                                        <table class="table table-sm table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Order</th>
                                                    <th>Name</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var status in statuses.OrderBy(x => x.Order))
                                                {
                                                    <tr>
                                                        <td>@status.Order</td>
                                                        <td>
                                                            <span class="btn btn-sm border-square dopdown-toggle small mx-1 py-0 px-1"
                                                                  style="color: @status.FontColor; background-color: @status.BgColor">
                                                                @status.Name
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-info btn-sm border-square"
                                                                    type="button"
                                                                    data-toggle="modal"
                                                                    data-target="#BatteryDetailAdvOptions_EditStatusModal"
                                                                    @onclick="(() => SetEditStatus(status))">
                                                                Edit
                                                            </button>
                                                            <button class="btn btn-danger btn-sm border-square" type="button" @onclick="@(() => RemoveStatus(status))">X</button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div class="row px-2 mb-3">
                                            <div class="col">
                                                <button type="button"
                                                        class="btn btn-info btn-sm border-square"
                                                        style="width: 32px;"
                                                        title="Restore Defaults"
                                                        @onclick="@GetDefaultStatuses">
                                                    <span class="oi oi-action-undo"></span>
                                                </button>
                                                <button type="button"
                                                        class="btn btn-success btn-sm border-square"
                                                        data-toggle="modal"
                                                        data-target="#BatteryDetailAdvOptions_EditStatusModal"
                                                        style="width: 32px;"
                                                        title="Add Status"
                                                        @onclick="@SetEditStatusToNew">
                                                    <span class="oi oi-plus"></span>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <button type="submit" class="btn btn-primary border-square">Submit</button>
                            <button type="button" class="btn btn-secondary border-square" data-dismiss="modal" @onclick="@ResetAllValuesToDefault">Cancel</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>
<!-- Advanced Option Modals -->
<BatteryDetailAdvOptions_EditCategoryModal Category="@editCategory" ParentStateChanged="@CategoryStateChanged"></BatteryDetailAdvOptions_EditCategoryModal>
<BatteryDetailAdvOptions_EditPriorityModal Priority="@editPriority" ParentStateChanged="@PriorityStateChanged"></BatteryDetailAdvOptions_EditPriorityModal>
<BatteryDetailAdvOptions_EditStatusModal Status="@editStatus" ParentStateChanged="@StatusStateChanged"></BatteryDetailAdvOptions_EditStatusModal>

@code {

    [Parameter]
    public string UserId { get; set; }

    [Parameter]
    public List<Category> DefaultCategories { get; set; }

    [Parameter]
    public Action ParentStateChanged { get; set; }

    private Battery battery = new();
    private Category editCategory = new();
    private Priority editPriority = new();
    private Status editStatus = new();

    private List<Category> categories = new();
    private List<Priority> priorities = new();
    private List<Status> statuses = new();

    private Dictionary<string, List<string>> errors = new();

    private bool isNewCategory = false;
    private bool isNewPriority = false;
    private bool isNewStatus = false;
    private bool showAdvancedOptions = false;
    private bool showCategoryOptions = false;
    private bool showPriorityOptions = false;
    private bool showStatusOptions = false;
    private bool showErrors = false;

    private int textareaRows;

    protected override void OnInitialized()
    {
        GetDefaultCategories();
        GetDefaultPriorities();
        GetDefaultStatuses();

        battery.IsActive = true;
        battery.OwnerId = UserId;
    }

    private async void HandleValidSubmit()
    {
        showErrors = false;
        errors.Clear();
        errors = _batteryAdvOptionsValidation.Validate(categories, priorities, statuses);

        if (errors.Count() > 0)
        {
            showErrors = true;
        }
        else
        {
            Battery newBattery = await _batteryService.Add(battery);

            await _batteryAdvOptions.SaveAsync(newBattery, categories, priorities, statuses);

            await CloseModal();

            ParentStateChanged?.Invoke();
        }


    }

    public async Task CloseModal()
    {
        await _jsRuntime.InvokeAsync<object>("CloseModal", "batteryDetailModal");
    }

    private void resizeTextarea(ChangeEventArgs e)
    {
        textareaRows = _calcTextareaRows.CalculateRows((string)e.Value);
    }

    private void ResetAllValuesToDefault()
    {
        // Reset advanced options
        GetDefaultCategories();
        GetDefaultPriorities();
        GetDefaultStatuses();

        // Set all objects to new objects
        battery = new Battery();
        editCategory = new Category();
        editPriority = new Priority();
        editStatus = new Status();

        // Set bools to false
        isNewCategory = false;
        isNewPriority = false;
        isNewStatus = false;
        showAdvancedOptions = false;
        showCategoryOptions = false;
        showPriorityOptions = false;
        showStatusOptions = false;

        // Clear custom errors
        showErrors = false;
        errors.Clear();

        // Set battery fields
        battery.IsActive = true;
        battery.OwnerId = UserId;
    }

    private void ToggleAdvancedOptions()
    {
        showAdvancedOptions = !showAdvancedOptions;
        StateHasChanged();
    }

    private void ToggleCategoryOptions()
    {
        showCategoryOptions = !showCategoryOptions;
        StateHasChanged();
    }

    private void TogglePriorityOptions()
    {
        showPriorityOptions = !showPriorityOptions;
        StateHasChanged();
    }

    private void ToggleStatusOptions()
    {
        showStatusOptions = !showStatusOptions;
        StateHasChanged();
    }

    private void CategoryStateChanged()
    {
        showCategoryOptions = true;

        if (isNewCategory)
        {
            categories.Add(editCategory);
            isNewCategory = false;
        }

        StateHasChanged();
    }

    private void PriorityStateChanged()
    {
        showPriorityOptions = true;

        if (isNewPriority)
        {
            priorities.Add(editPriority);
            isNewPriority = false;
        }

        StateHasChanged();
    }

    private void StatusStateChanged()
    {
        showStatusOptions = true;

        if (isNewStatus)
        {
            statuses.Add(editStatus);
            isNewStatus = false;
        }

        StateHasChanged();
    }

    private void SetEditCategory(Category category)
    {
        editCategory = category;
        isNewCategory = false;
    }

    private void SetEditPriority(Priority priority)
    {
        editPriority = priority;
        isNewPriority = false;
    }

    private void SetEditStatus(Status status)
    {
        editStatus = status;
        isNewStatus = false;
    }

    private void SetEditCategoryToNew()
    {
        editCategory = new Category();
        isNewCategory = true;
    }

    private void SetEditPriorityToNew()
    {
        editPriority = new Priority();
        isNewPriority = true;
    }

    private void SetEditStatusToNew()
    {
        editStatus = new Status();
        isNewStatus = true;
    }

    private void RemoveCategory(Category category)
    {
        categories.Remove(category);
    }

    private void RemovePriority(Priority priority)
    {
        priorities.Remove(priority);
    }

    private void RemoveStatus(Status status)
    {
        statuses.Remove(status);
    }

    private void GetDefaultCategories()
    {
        categories = _categoryService.GetDefaultValues();
    }

    private void GetDefaultPriorities()
    {
        priorities = _priorityService.GetDefaultValues();
    }

    private void GetDefaultStatuses()
    {
        statuses = _statusService.GetDefaultValues();
    }
}
