@inject IJSRuntime _jsRuntime

<div class="modal modal-child fade" tabindex="-1" role="dialog" id="BatteryDetailAdvOptions_EditStatusModal" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-square">
            <div class="modal-header">
                <h5 class="modal-title">Edit Priority</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <EditForm Model="@Status" OnValidSubmit="@HandleValidSubmit">
                <div class="modal-body">
                    <div class="row px-2 mb-2">
                        <div class="col">
                            <label for="category-fontColor">Font Color</label>
                            <InputText id="status-fontColor" type="color" class="form-control border-square" @bind-Value="@Status.FontColor" />
                        </div>
                        <div class="col">
                            <label for="category-bgColor">Backgroung Color</label>
                            <InputText id="status-bgColor" type="color" class="form-control border-square" @bind-Value="@Status.BgColor" />
                        </div>
                    </div>
                    <div class="row px-2 mb-2">
                        <div class="col">
                            <label for="status-order">Order</label>
                            <InputNumber id="status-order" class="form-control border-square" @bind-Value="@Status.Order" />
                        </div>
                        <div class="col">
                            <label for="status-name">Name</label>
                            <InputText id="status-name" type="text" class="form-control border-square" @bind-Value="@Status.Name" />
                        </div>
                    </div>
                    <div class="row px-2 mb-2">
                        <div class="col">
                            <p class="text-center">Preview</p>
                            <p class="text-center">
                                <span class="btn btn-sm border-square dopdown-toggle small mx-1 py-0 px-1"
                                      style="color: @Status.FontColor; background-color: @Status.BgColor">
                                    @Status.Name
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success border-square">Submit</button>
                    <button type="button" class="btn btn-secondary border-square" data-dismiss="modal">Cancel</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>




@code {
    [Parameter]
    public Status Status { get; set; }

    [Parameter]
    public Action ParentStateChanged { get; set; }

    private async void HandleValidSubmit()
    {
        await CloseModal();
        ParentStateChanged?.Invoke();
    }

    public async Task CloseModal()
    {
        await _jsRuntime.InvokeAsync<object>("CloseModal", "BatteryDetailAdvOptions_EditStatusModal");
    }
}
