@*<div class="card border-square p-1 mx-1 justify-content-center">
    <p class="m-0 text-center">
        <span class="oi @Category.Icon" style="color: @Category.IconColor"></span>
        <strong>@Count</strong>
    </p>
</div>*@

<button type="button" class="btn btn-sm border-square mx-1" style="background-color: @Category.IconColor">
    <span class="oi @Category.Icon" style="color: white"></span>
    <span class="badge badge-light border-square">@Count</span>
    <span class="sr-only">@Category.Name Count</span>
</button>

@code {
    [Parameter]
    public Category Category { get; set; }

    [Parameter]
    public int Count { get; set; }
}
