@inject IChargeService _chargeService
@inject ITableSort_Charges _tableSort

<div class="row mb-3">
    <div class="col">
        <div class="card border-square shadow-sm px-2 pt-2 pb-0 h-100">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>
                            <button class="border-0 bg-transparent" @onclick="@(() => SortTableByCategory("Category"))" @onclick:preventDefault>
                                <strong>Type</strong>
                                <span class="oi @(_tableSort.GetIcon("Category"))"></span>
                            </button>
                        </th>
                        <th>
                            <button class="border-0 bg-transparent" @onclick="@(() => SortTable("Id"))" @onclick:preventDefault>
                                <strong>#</strong>
                                <span class="oi @(_tableSort.GetIcon("Id"))"></span>
                            </button>
                        </th>
                        <th>
                            <button class="border-0 bg-transparent" @onclick="@(() => SortTable("Title"))" @onclick:preventDefault>
                                <strong>Title</strong>
                                <span class="oi @(_tableSort.GetIcon("Title"))"></span>
                            </button>
                        </th>
                        <th>
                            <button class="border-0 bg-transparent" @onclick="@(() => SortTableByPriority("Priority"))" @onclick:preventDefault>
                                <strong>Priority</strong>
                                <span class="oi @(_tableSort.GetIcon("Priority"))"></span>
                            </button>
                        </th>
                        <th>
                            <button class="border-0 bg-transparent" @onclick="@(() => SortTableByStatus("Status"))" @onclick:preventDefault>
                                <strong>Status</strong>
                                <span class="oi @(_tableSort.GetIcon("Status"))"></span>
                            </button>
                        </th>
                        <th>
                            <button class="border-0 bg-transparent" @onclick="@(() => SortTableByChildrenCount("Children"))" @onclick:preventDefault>
                                <strong>Children</strong>
                                <span class="oi @(_tableSort.GetIcon("Children"))"></span>
                            </button>
                        </th>
                        <th>
                            <button class="border-0 bg-transparent" @onclick="@(() => SortTable("Created"))" @onclick:preventDefault>
                                <strong>Created</strong>
                                <span class="oi @(_tableSort.GetIcon("Created"))"></span>
                            </button>
                        </th>
                        <th>
                            <button class="border-0 bg-transparent" @onclick="@(() => SortTable("Updated"))" @onclick:preventDefault>
                                <strong>Updated</strong>
                                <span class="oi @(_tableSort.GetIcon("Updated"))"></span>
                            </button>
                        </th>
                        <th>
                            <button class="border-0 bg-transparent" @onclick="@(() => SortTable("Completed"))" @onclick:preventDefault>
                                <strong>Completed</strong>
                                <span class="oi @(_tableSort.GetIcon("Completed"))"></span>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var charge in Charges.Where(x => x.ParentId is null))
                    {
                        <ChargeTableItem @key="@charge"
                                         @bind-Child="@boundChild"
                                         Charge="@charge"
                                         ParentStateChanged="@ParentStateChanged"></ChargeTableItem>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<Charge> Charges { get; set; }

    [Parameter]
    public Charge Child { get; set; }

    [Parameter]
    public EventCallback<Charge> ChildChanged { get; set; }

    private Charge boundChild
    {
        get => Child;
        set => ChildChanged.InvokeAsync(value);
    }

    [Parameter]
    public List<ChargeChildrenCount> ChargeChildrenCounts { get; set; }

    [Parameter]
    public Action ParentStateChanged { get; set; }

    [CascadingParameter(Name = "Categories")]
    private List<Category> Categories { get; set; }

    [CascadingParameter(Name = "Priorities")]
    private List<Priority> Priorities { get; set; }

    [CascadingParameter(Name = "Statuses")]
    private List<Status> Statuses { get; set; }

    [CascadingParameter(Name = "SearchText")]
    private string SearchText { get; set; }

    [CascadingParameter(Name = "ShowChildren")]
    private bool ShowChildren { get; set; }

    private void SortTable(string colName)
    {
        Charges = _tableSort.Sort(colName, Charges);
    }

    private void SortTableByPriority(string colName)
    {
        Charges = _tableSort.Sort(colName, Charges, Priorities);
    }

    private void SortTableByStatus(string colName)
    {
        Charges = _tableSort.Sort(colName, Charges, null, Statuses);
    }

    private void SortTableByChildrenCount(string colName)
    {
        Charges = _tableSort.Sort(colName, Charges, null, null, ChargeChildrenCounts);
    }

    private void SortTableByCategory(string colName)
    {
        Charges = _tableSort.Sort(colName, Charges, null, null, null, Categories);
    }

    //protected override void OnInitialized()
    //{
    //    _tableSort.OnChange += StateHasChanged;
    //}

    //public void Dispose()
    //{
    //    _tableSort.OnChange -= StateHasChanged;
    //}
}
