@inject IChargeService _chargeService
@inject IInitializeChargeChildToParent _chargeRelationship
@inject IStatusService _statusService

<div class="row mb-3">
    <div class="col">
        <div class="card border-square shadow-sm px-2 pt-2 pb-0 h-100">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Children</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var charge in Charges.Where(x => x.ParentId is null))
                    {
                        <ChargeTableItem @key="@charge"
                                         @bind-Child="@spark"
                                         Charge="@charge"
                                         Children="@Charges.Where(x => x.ParentId == charge.Id).ToList()"
                                         ParentStateChanged="@ParentStateChanged"></ChargeTableItem>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<ChargeDetailModal Charge="@spark" ParentStateChanged="@StateChanged"></ChargeDetailModal>

@code {
    [Parameter]
    public List<Charge> Charges { get; set; }

    [Parameter]
    public Action ParentStateChanged { get; set; }

    [CascadingParameter(Name = "Categories")]
    private List<Category> Categories { get; set; }

    [CascadingParameter(Name = "Priorities")]
    private List<Priority> Priorities { get; set; }

    [CascadingParameter(Name = "Statuses")]
    private List<Status> Statuses { get; set; }

    [CascadingParameter(Name = "SearchText")]
    private string SearchText { get; set; }

    [CascadingParameter(Name = "ShowChildren")]
    private bool ShowChildren { get; set; }

    private Charge spark = new();

    private async void StateChanged()
    {
        Charges = await _chargeService.GetActive();
        StateHasChanged();
    }
}
