<div class="card bg-light border-square px-2 @(ShowBorder ? "" : "border-0")">
    <div class="row">
        <div class="col">
            <IconTags />
            @foreach (var tag in Tags.OrderBy(x => x.Name))
            {
                <TagIndexItem Tag="@tag" 
                              Count="@(TagCounts.ContainsKey(tag.Id) ? TagCounts[tag.Id] : 0)"
                              ShowTagCounts="@true"></TagIndexItem>
            }
            @if (ShowManageTagsButton)
            {
                <button class="btn btn-sm bg-transparent border-square " 
                        type="button" 
                        title="Manage Tags" 
                        data-toggle="modal" 
                        data-target="#ManageTagsModal"
                        @onclick="@(() => SetManageTagsBattery.InvokeAsync(Tags.FirstOrDefault().BatteryId))">
                    <span class="oi oi-ellipses"></span>
                </button>
            }
        </div>
    </div>
</div>
@code {
    [Parameter]
    public List<Tag> Tags { get; set; }

    [Parameter]
    public Dictionary<int, int> TagCounts { get; set; }

    [Parameter]
    public bool ShowBorder { get; set; }

    [Parameter]
    public bool ShowManageTagsButton { get; set; }
    
    [Parameter]
    public EventCallback<int> SetManageTagsBattery { get; set; }
}
